@CHARSET "UTF-8";

  /*<style type="text/css">*/
   body {
    font: 10pt Arial, Helvetica, sans-serif; /* Шрифт на веб-странице */
    background: #763F21 url(../img/coffee-bean-320.jpg) top center repeat; /* Цвет фона */
    /*background-position: top left; /* Положение фона */
    /*background-repeat: repeat; /* Повторяем фон по горизонтали */
    margin: 0; /* Убираем отступы */
   }
   h2 {
    font-size: 11pt; /* Размер шрифта */
    color: #752641; /* Цвет текста */
    margin-bottom: 0; /* Отступ снизу */
   }
   #centerLayer {/*для страниц типа login.jsp*/
    position: absolute; /* Абсолютное позиционирование */
    width: 280px; /* Ширина слоя в пикселах */
    /*height: 180px; /* Высота слоя в пикселах */
    left: 50%; /* Положение слоя от левого края */
    top: 50%; /* Положение слоя от верхнего края */
    margin-left: -150px; /* Отступ слева */
    margin-top: -100px;	/* Отступ сверху */
    background: #DCD9CD; /* Цвет фона */
    border: solid 1px black; /* Параметры рамки вокруг */
    padding: 10px; /* Поля вокруг текста */
    overflow: auto; /* Добавление полосы прокрутки */ 
   }
   #container {
    width: 750px; /* Ширина макета */
    margin: 0 auto; /* Выравниваем по центру */
   }
   #header {
    background: #763F21; /* Цвет фона */
    font-size: 20pt; /* Размер текста */
    color: #edeed5; /* Цвет текста */
    padding: 15px; /* Отступы вокруг текста */
   }
   #content {
    margin-left: 140px; /* Отступ справа */
    padding: 10px; /* Поля вокруг текста */
    background: #fff; /* Цвет фона левой колонки */
   /* height: 600px; */
   }
   #content p {
    margin-top: 0.3em /* Отступ сверху */
   }
   #sidebar {
    float: left; /* Обтекание по левому краю */
    width: 120px; /* Ширина правой колонки */
    padding: 10px; /* Отступы вокруг текста */
    background: #cbc0b7; /* Цвет фона */
   }
   #sidebar a {
    color: #752641; /* Цвет ссылок */
   }
   #footer {
    background:  #763F21; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    margin-top: 15px; /* Отступ сверху */
   }
  /*</style>*/